@use 'tokens/type';
@use 'tokens/spacing';
@use 'tokens/breakpoints';
@use 'tokens/color';

// for alpine - hide JS-dependent elements until the JS is ready
[x-cloak] { display: none; }

html {
	box-sizing: border-box;
	font-size: 100%;
	min-height: 100vh;

	@include breakpoints.query('small') {
		font-size: 110%;
	}

	@include breakpoints.query('medium') {
		font-size: 120%;
	}

	@include breakpoints.query('large') {
		font-size: 130%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	@include color.add('primary');
	@include color.add-bg();
	@include type.font();
	font-size: 1rem;
	line-height: type.leading();
	margin: 0;

	@supports (display: flex) {
		display: flex;
		flex-direction: column;
	}

	> footer {
		margin-top: auto;
	}
}

img,
picture,
video {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include type.heading();
}

p {
	font-size: inherit;
	margin: 0;
}

ul,
ol,
dl {
	margin: 0;
	padding-left: 1em;
}

li {
	& + & {
		padding-top: spacing.get('narrow', 1em);
	}
}

a {
	@include type.link();
}

// forms
label {
	@include type.font('display', 'bold');
	display: block;
}

input,
textarea {
	$base-padding: spacing.get('narrow', $unit: 1em);

	@include color.add('primary');
	@include color.add-bg('well');
	@include color.add-border();
	@include type.font('display');
	border-radius: 0.3em;
	border-style: solid;
	border-width: 1px;
	display: block;
	font-size: type.scale('delta');
	padding: ($base-padding + 0.1em) $base-padding ($base-padding - 0.1em);
	position: relative;
	text-shadow: none;
	transition: all 0.25s ease-in-out;
	width: 100%;

	&:focus {
		@include color.add-border('highlight');
		box-shadow: none;
		outline: 0;
		outline: thin dotted \9;
	}

	&::placeholder {
		@include color.add('secondary');
	}
}

[type='search'] {
	$icon-w: 1.5em;
	$base-padding: spacing.get('narrow', $unit: 1em);

	height: auto;
	padding-left: ($icon-w + $base-padding);
	// TODO: add a search icon
}

textarea {
	height: auto;
	resize: vertical;
}
