@use 'tokens/type';
@use 'tokens/spacing';
@use 'tokens/breakpoints';
@use 'tokens/color';

html {
	box-sizing: border-box;
	font-size: 100%;
	min-height: 100vh;

	@include breakpoints.query('small') {
		font-size: 110%;
	}

	@include breakpoints.query('medium') {
		font-size: 115%;
	}

	@include breakpoints.query('large') {
		font-size: 120%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	@include type.font();
	color: color.get('primary');
	font-size: 1rem;
	line-height: type.leading();
	margin: 0;

	@supports (display: flex) {
		display: flex;
		flex-direction: column;
	}

	> footer {
		margin-top: auto;
	}
}

img,
picture,
video {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include type.heading();
}

p {
	margin: 0;
}

ul,
ol,
dl {
	margin: 0;
	padding-left: 1em;
}

li {
	font-size: type.scale('epsilon');

	& + & {
		padding-top: spacing.get('narrow', 1em);
	}
}

a {
	border-bottom: 1px dotted color.get('border');
	color: inherit;
	text-decoration: none;
	transition: all 0.25s ease-in-out;

	&:hover,
	&:active {
		border-bottom-color: color.get('highlight');
		color: color.get('highlight');
	}
}

// forms
label {
	@include type.font('display', 'bold');
	display: block;
}

input,
textarea {
	$base-padding: spacing.get('narrow', $unit: 1em);

	@include type.font('display');
	border: 1px solid color.get('border');
	border-radius: 0.3em;
	color: color.get('primary');
	display: block;
	font-size: type.scale('epsilon');
	padding: ($base-padding + 0.1em) $base-padding ($base-padding - 0.1em);
	position: relative;
	text-shadow: none;
	transition: all 0.25s ease-in-out;
	width: 100%;

	&:focus {
		border-color: color.get('highlight');
		box-shadow: none;
		outline: 0;
		outline: thin dotted \9;
	}

	&::placeholder {
		color: color.get('secondary');
	}
}

[type='search'] {
	$icon-w: 1.5em;
	$base-padding: spacing.get('narrow', $unit: 1em);

	height: auto;
	padding-left: ($icon-w + $base-padding);
	// TODO: add a search icon
}

textarea {
	height: auto;
	resize: vertical;
}
