---
title: UNICEF Pacific Regional Council for Early Childhood Development
contact: kmillan@unicef.org
nav:
  - label: Country profiles
    url: /country-profiles/
  - label: Resources
    url: /resources/
  - label: About ECD
    url: /about-ecd/
  - label: Pacific Council
    url: /about-prc/
footer_nav:
  countries:
    heading: Country profiles
    url: /countries/
    links:
    - label: Cook Islands
      url: /countries/
    - label: Fiji
      url: /countries/
    - label: FSM
      url: /countries/
    - label: Kiribati
      url: /countries/
    - label: Marshall Islands
      url: /countries/
    - label: Nauru
      url: /countries/
    - label: Niue
      url: /countries/
    - label: Palau
      url: /countries/
    - label: Papau New Guinea
      url: /countries/
    - label: Samoa
      url: /countries/
    - label: Solomon Islands
      url: /countries/
    - label: Tokelau
      url: /countries/
    - label: Tonga
      url: /countries/
    - label: Tuvalu
      url: /countries/
    - label: Vanuatu
      url: /countries/
  secondary:
  - heading: About ECD
    url: /about-ecd/
    links:
    - label: Section
      url: '#'
    - label: Section
      url: '#'
    - label: Section
      url: '#'
  - heading: Resources
    url: /resources/
    links:
    - label: Section
      url: '#'
    - label: Section
      url: '#'
    - label: Section
      url: '#'
  - heading: Pacific Council
    url: /about-prc/
    links:
    - label: Section
      url: '#'
    - label: Section
      url: '#'
    - label: Section
      url: '#'
---

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="/stylesheets/main.css">
	  <script>
	    // Add a class to the html element to confirm JS is available
	    // -> used by the CSS for styling JS-dependent elements
	    document.documentElement.className = "js";
	    // Add a class if the browser/device supports touch
	    document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
	  </script>

	</head>
	<body>
		{# Main header #}
		{% MainNav { items: nav } %}

		{# Content #}
		<main>{{ content | safe }}</main>

		{# Main footer #}
		{% MainFooter {
			logo: 'https://placehold.it/600x200?text=logo',
			title: title,
			menu: footer_nav,
			contact: contact
		} %}


		{# Alpine JS from their CDN #}
		<script
			type="module"
			src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
		></script>
		<script
			nomodule
			src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/
			alpine-ie11.min.js"
			defer
		></script>
	</body>
</html>
