---
title: UNICEF Pacific Regional Council for Early Childhood Development
---

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<script>
			// Add a class to the html element to confirm JS is available
			// -> used by the CSS for styling JS-dependent elements
			document.documentElement.className = "js";
			// Add a class if the browser/device supports touch
			document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
		</script>
		<!-- Primary Meta Tags -->
		<title>{{site.siteTitle}}</title>
		<meta name="title" content="{{site.siteTitle}}">
		<meta name="description" content="{{site.metaDescription}}">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{site.siteTitle}}">
		<meta property="og:description" content="{{site.metaDescription}}">
		<meta property="og:image" content="{{site.logo.url}}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:title" content="{{site.siteTitle}}">
		<meta property="twitter:description" content="{{site.metaDescription}}">
		<meta property="twitter:image" content="{{site.logo.url}}">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="/images/favicons/site.webmanifest">
		<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#ff99b7">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<script>
			var albatrossEndpoint = '{{dato.resourcesIndex.endpoint}}';
		</script>
	</head>
	<body
	  x-data="{ navOpen: false }"
	  :class="{ 'c-overlay-freeze': navOpen == true }"
	>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-958WKYJXNN"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-958WKYJXNN');
	</script>

		{# Main header #}
		{% MainNav {
			logo: graphics.logo.icon,
			items: dato.site.header.nav,
			currentPage: page.url,
			strings: dato.site.header
		} %}

		{# Content #}
		<main>{{ content | safe }}</main>

		{# Main footer #}
		{% MainFooter {
			logo: graphics.logo.icon,
			title: dato.site.title,
			menu: dato.site.header.nav,
			currentPage: page.url,
			strings: dato.site.footer
		} %}

		{# Alpine JS from their CDN #}
		<script
			type="module"
			src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
		></script>
		<script
			src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/truncate.min.js"
		></script>
		<script
			nomodule
			src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/
			alpine-ie11.min.js"
			defer
		></script>
	</body>
</html>
