<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title>UNICEF Pacific Regional Council for Early Childhood Development</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<span>
			<header>
				<p>Pacific Regional Council for Early Childhood Development</p>
				<a href="#">Contact us</a>
			</header>

			<main>{{ content | safe }}</main>

			<footer>
				<p>
					<strong>UNICEF</strong> Pacific Regional Council for Early Childhood Development
					<small>&copy; Copyright 2020. All rights reserved.</small>
				</p>
				<aside>Questions? <a href="#">Contact us</a></aside>
			</footer>

			<!-- Alpine JS from their CDN -->
			<script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
			<script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
		</span>
	</body>
</html>
