// Color design tokens

@use 'sass:map';
@use 'bourbon';

$-aqua: #4fa2ad;
$-aqua-dark: #19464c;
$-coral: #ff9886;
$-coral-light: #ffb4a7;
$-white: #fff;

// Utility classes
// -> global element styles: lists, text, images, etc.
$palette: (
	'dark': (
		'bg': $-aqua-dark,
		'border': bourbon.tint($-aqua-dark, 20),
		'highlight': $-coral,
		'accent': $-aqua,
		'primary': $-white,
		'secondary': bourbon.tint($-aqua-dark, 60),
		'shadow': rgba(bourbon.shade($-aqua-dark, 40), 0.4)
	),
	'wash': (
		'bg': $-aqua,
		'border': bourbon.shade($-aqua, 20),
		'highlight': $-white,
		'accent': $-aqua-dark,
		'primary': $-white,
		'secondary': $-aqua-dark,
		'shadow': rgba(bourbon.shade($-aqua, 60), 0.4)
	),
	'light': (
		'bg': $-white,
		'border': bourbon.tint($-aqua-dark, 80),
		'highlight': $-coral,
		'accent': $-aqua,
		'primary': $-aqua-dark,
		'secondary': bourbon.tint($-aqua-dark, 60),
		'shadow': rgba(bourbon.tint($-aqua-dark, 40), 0.4)
	)
);

@function get($role, $theme: 'light') {
	$theme-colors: map.get($palette, $theme);
	@return map.get($theme-colors, $role);
}

@function get-variable($role, $theme: 'light') {
	@return var(--color-#{$role}, #{get($role)});
}

@mixin add($role, $prop: 'color') {
	#{$prop}: get($role);
	#{$prop}: get-variable($role);
}

@mixin add-bg($role: 'bg') {
	@include add($role, 'background-color');
}

@mixin add-border($role: 'border') {
	@include add($role, 'border-color');
}
