.u-display-block {
	display: block;
}

.u-display-inline-block {
	display: inline-block;
}

.u-display-flex {
	@supports (display: flex) {
		display: flex;
	}
}

.u-display-flex-column {
	@supports (display: flex) {
		display: flex;
		flex-direction: column;
	}
}
