.u-position-absolute {
	position: absolute !important;
}

.u-position-top-right {
	right: 0;
	top: 0;
}

.u-position-relative {
	position: relative;
}

.u-position-vertical-align-middle {
	vertical-align: middle;
}

@each $name, $level in (
	'low': 1,
	'middle': 2,
	'high': 3
) {
	.u-position-z-#{$name} {
		z-index: $level;
	}
}
