@use 'sass:map';
@use '../tokens/type';
@use '../tokens/color';
@use '../tokens/breakpoints' as bp;

$-positions: [left, center, right];

// alignment
@each $position in $-positions {
	// stylelint-disable order/order
	// need the include to come after this selector so it overrides
	.u-type-align-#{$position} {
		text-align: $position;
	}
}

@each $position in $-positions {
	@include bp.suffix(
		'.u-type-align-#{$position}', 
		$sizes: [small, medium]
	) {
		text-align: $position;
	}
	// stylelint-enable order/order
}

// case
.u-type-case-upper {
	text-transform: uppercase;
}

// headings
.u-type-heading {
	@include type.heading();
}

// scale
h1,
.u-type-scale-alpha {
	@include type.fluid($size-min: 'beta', $size-max: 'alpha');
	letter-spacing: -0.04em;
}

h2,
.u-type-scale-beta {
	@include type.fluid($size-min: 'gamma', $size-max: 'beta');
	letter-spacing: -0.03em;
}

h3,
.u-type-scale-gamma {
	font-size: type.scale('gamma');
	// @include type.fluid($size-min: 'delta', $size-max: 'gamma');
	letter-spacing: -0.02em;
}

h4,
.u-type-scale-delta {
	font-size: type.scale('delta');
}

h5,
.u-type-scale-epsilon {
	font-size: type.scale('epsilon');
}

h6 {
	font-size: type.scale('epsilon');
}

// set font size to zero to fix whitespace bugs
.u-type-scale-zero {
	font-size: 0;
}

@each $name, $height in type.$leading {
	.u-type-leading-#{$name} {
		line-height: $height;
	}
}

// fonts, weights, styles
.u-type-style-italic {
	@include type.font($style: italic);
}

.u-type-style-normal {
	font-style: normal;
}

.u-type-weight-normal {
	@include type.font($weight: 'normal');
}

.u-type-weight-bold {
	@include type.font($weight: 'bold');
}

.u-type-font-display {
	@include type.font('display');

	.u-type-weight-light,
	&.u-type-weight-light {
		@include type.font('display', 'light');
	}

	.u-type-weight-bold,
	&.u-type-weight-bold {
		@include type.font('display', 'bold');
	}

	.u-type-weight-normal,
	&.u-type-weight-normal {
		@include type.font('display', 'normal');
	}
}

.u-type-font-default {
	@include type.font();
}

.u-type-link {
	@include type.link();
}

.u-type-link-undecorated {
	border-bottom: 0;
}

// add a pseudo-border to the top of a link or word
.u-type-eyebrow-top {
	position: relative;

	&::before {
		@include color.add-bg('highlight');
		content: '';
		height: 3px;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
