// Button block
// -> make a thing look clickable!
@use '../tokens/color';
@use '../tokens/spacing';
@use '../tokens/type';

// --- base ---
.b-button {
	$base-padding: spacing.get('narrow', 1em);

	@include color.add('highlight');
	@include type.font('display', 'bold');
	background-color: transparent;
	border: 2px solid color.get('highlight');
	border: 2px solid var(--color-highlight);
	border-radius: 0.2em;
	cursor: pointer;
	display: inline-block;
	font-size: type.scale('epsilon');
	padding: ($base-padding + 0.1em) spacing.get($unit: 1em) ($base-padding - 0.1em);

	&.disabled {
		@include color.add('secondary');
		@include color.add-border('secondary');
	}

	&.small {
		font-size: type.scale('zeta');
	}
}
