// Button block
// -> make a thing look clickable!
@use '../tokens/color';
@use '../tokens/spacing';
@use '../tokens/type';

// --- base ---
.b-button {
	$base-padding: spacing.get('narrow', 1em);

	@include type.font('display', 'bold');
	display: inline-block;
	border: 2px solid color.get('highlight');
	padding: ($base-padding + 0.1em) spacing.get($unit: 1em) ($base-padding - 0.1em);
	border-radius: 0.2em;
	font-size: type.scale('epsilon');
	color: color.get('highlight');
	background-color: transparent;
	cursor: pointer;

	&.disabled {
		border-color: color.get('secondary');
		color: color.get('secondary');
	}

	&.small {
		font-size: type.scale('zeta');
	}

}
