.b-icon {
	$size: 1.5em;
	display: inline-block;
	height: $size;
	margin-top: -0.3em;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	width: $size;

	&.small {
		$size: 0.8em;
		height: $size;
		width: $size;
	}
}
