// Map block
// -> display an interactive map of PRC countries
@use '../tokens/color';
@use '../tokens/breakpoints' as bp;

$-bg-sizes: (
	'small': 1000,
	'medium': 1600,
	'large': 2400
);

$-duration: 0.25s;
$-translate: -0.2rem;

.map {
	--duration: 0.25s;
	--translate: -0.2rem;
	background-image: url('/images/map/map-background@600w.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin: 0;
	width: 100%;

	@each $size, $width in $-bg-sizes {
		@include bp.query($size) {
			background-image: url('/images/map/map-background@#{$width}w.png');
		}
	}
}

.map-island {
	@include color.add('secondary');
	transition: color #{$-duration} ease;
	transition: color var(--duration) ease;
	will-change: color;

	circle {
		@include color.add('bg');
		filter: drop-shadow(0 0.02rem 0.5rem #{color.get('shadow')});
		filter: drop-shadow(0 0.02rem 0.5rem var(--color-shadow));
		transition: filter #{$-duration} ease, 
			transform #{$-duration} ease, 
			color #{$-duration} ease;
		transition: filter var(--duration) ease, 
			transform var(--duration) ease, 
			color var(--duration) ease;
		will-change: filter, transform;
	}

	path {
		transition: transform #{$-duration} ease;
		transition: transform var(--duration) ease;
		will-change: transform;
	}

	&:hover {
		@include color.add('primary');

		a {
			@include color.add('primary');
		}

		circle {
			@include color.add('highlight');
			filter: drop-shadow(0 0.2rem 0.75rem #{color.get('shadow')});
			filter: drop-shadow(0 0.2rem 0.75rem var(--color-shadow));
			transform: translateY(#{$-translate});
			transform: translateY(var(--translate));
		}

		path {
			transform: translateY(#{$-translate});
			transform: translateY(var(--translate));
		}
	}
}
