// Pretty numbers
// -> add a big pretty number to a container via pseudo-element
@use '../tokens/type';
@use '../tokens/color';

.b-pretty-numbers {
	counter-reset: prettyNumbers;
}

.b-pretty-numbers-item {
	counter-increment: prettyNumbers;

	&::before {
		@include color.add('highlight');
		@include type.font('display', 'bold');
		content: counter(prettyNumbers);
		display: block;
		font-size: 4em;
		line-height: type.leading('tight');
		position: relative;
	}
}
