// Bookend component
// -> position children at either end of a container
@use 'bourbon';
@use '../tokens/breakpoints';

.c-bookend {
	display: block;
	position: relative;
}

.c-bookend-item {
	--item-width: auto;

	@include bourbon.clearfix;
	clear: both;
	display: block;
	float: none;
	position: relative;
	vertical-align: middle;
}

@include breakpoints.suffix(
	'.c-bookend.horizontal',
	$default: true,
	$sizes: [xsmall, small, medium]
) {
	@supports (display: flex) {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-height: 3rem;

		&.reverse {
			flex-direction: row-reverse;
		}

		&.justify-start {
			justify-content: flex-start;
		}

		&.justify-center {
			justify-content: center;
		}
	}

	.c-bookend-item {
		display: inline-block;
		vertical-align: middle;

		&.left {
			float: left;

			@supports (display: flex) {
				float: none;
			}
		}

		&.right {
			float: right;

			@supports (display: flex) {
				float: none;
				margin-left: auto;
			}
		}

		&.fill {
			float: none;

			@supports (flex: 1) {
				flex: 1;
				margin-left: unset;
			}
		}
	}
}

.c-bookend.align-top {
	@supports (align-items: flex-start) {
		align-items: flex-start !important;
	}

	.c-bookend-item {
		vertical-align: top;
	}
}
