// Bookend component
// -> position children at either end of a container
@use 'bourbon';
@use '../tokens/breakpoints';

.c-bookend {
	display: block;
	position: relative;
}

.c-bookend-item {
	--item-width: auto;

	@include bourbon.clearfix;
	clear: both;
	display: block;
	float: none;
	position: relative;
	vertical-align: middle;
}

@include breakpoints.suffix(
	'.c-bookend.horizontal',
	$default: true,
	$sizes: [xsmall, small]
) {
	@supports (display: flex) {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-height: 3rem;

		&.reverse {
			flex-direction: row-reverse;
		}
	}

	.c-bookend-item {
		display: inline-block;
		vertical-align: middle;

		&.left {
			float: left;

			@supports (display: flex) {
				float: none;
			}
		}

		&.right {
			float: right;

			@supports (display: flex) {
				float: none;
				margin-left: auto;
			}
		}

		&.fill {
			@supports (flex: 1) {
				flex: 1;
			}
		}
	}
}

// .c-bookend.align-stretch {
// 	@supports (align-items: flex-start) {
// 		align-items: stretch !important;
// 	}

// 	.c-bookend-item {
// 		max-width: var(--item-width);
// 		vertical-align: top;

// 		@supports (display: flex) {
// 			display: flex;
// 			flex: 1;
// 			flex-direction: column;
// 		}
// 	}
// }

.c-bookend.align-top {
	@supports (align-items: flex-start) {
		align-items: flex-start !important;
	}

	.c-bookend-item {
		vertical-align: top;
	}
}
