// Gutter spacing
// -> add equal space around all child elements, regardless of flow
// -> the spacing is 'split' between elements
@use '../tokens/spacing';

// --- base
.c-gutter {
	margin: -(spacing.get());
	padding: (spacing.get() / 2);

	&.flush {
		margin: -(spacing.get() / 2);
		padding: 0;
	}
}

// --- modifiers
@each $name, $size in spacing.$scale {
	@if $name != 'medium' {
		.c-gutter.#{$name} {
			margin: -(spacing.get($name));
			padding: (spacing.get($name) / 2);

			&.flush {
				margin: -(spacing.get($name) / 2);
				padding: 0;
			}

			.c-gutter-item {
				padding: (spacing.get($name) / 2);
			}
		}
	}
}

// --- children
.c-gutter-item {
	padding: (spacing.get() / 2);
}
