---
layout: default
title: Early Childhood Development
---

{% Cover %}
	{% ContentWrapper { width: 'wide' } %}
		<h1 class="u-padding-bottom">{{title}}</h1>
		{% Passage { centered: false } %}
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quas rerum odio quisquam provident dicta, veniam dolores, accusamus deserunt dolorum modi vel sunt, ratione fuga, dolor illum quis tempore esse.</p>
		{% endPassage %}
	{% endContentWrapper %}
{% endCover %}

{# Stages #}
{% Section %}
	<h2 class="u-type-align-center | u-padding-bottom-wide">
		Stages of Early Childhood Development
	</h2>

	{# Timeline #}
	<div>
		<ul class="u-list-undecorated">
			<li>
				<details open>
					<summary>
						<p class="u-type-heading u-type-scale-delta">
							Social and emotional development
						</p>
					</summary>
					<article class="c-bookend horizontal@small | c-gutter">
						<div class="c-bookend-item left | c-gutter-item">
							<div style="max-width: 20rem;">
								<img src="https://placehold.it/800x600" alt="Image">
							</div>
						</div>
						<div class="c-bookend-item right fill | c-gutter-item">
							{% ContentWrapper %}
								<h3 class="u-padding-bottom">Social and emotional development</h3>
								{% Passage %}
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa incidunt at quasi, iusto, reiciendis blanditiis corporis ea voluptas sunt fuga veritatis, veniam ipsum, assumenda alias hic amet asperiores nostrum?</p>
									<p>Cumque optio minus, esse hic repudiandae eveniet, accusantium explicabo. Eligendi iure quod molestias dolore distinctio dicta vero? Corrupti deserunt dolor optio possimus, quaerat consequuntur vel eaque et nesciunt, molestiae quae?</p>
								{% endPassage %}
							{% endContentWrapper %}
						</div>
					</article>
				</details>
			</li>
		</ul>
	</div>
{% endSection %}

{# Sectors #}
{% Section %}
	<h2 class="u-type-align-center">Sectors</h2>
	{% Passage %}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic natus odio commodi rerum soluta esse at dicta doloremque magnam cum odit temporibus vitae deleniti deserunt a, voluptate maxime molestias repellendus!</p>
	{% endPassage %}
{% endSection %}

{# Care #}
{% Section %}
	<header>
		<h2 class="u-type-align-center u-padding-bottom-wide">Nurturing care</h2>
		{% ContentWrapper { width: 'wide' } %}
			<div class="c-bookend horizontal@small | c-gutter">
				<div class="c-bookend-item right | c-gutter-item" style="max-width: 20rem;">
					<img src="https://placehold.it/600x600" alt="icon">
				</div>
				<div class="c-bookend-item left fill | c-gutter-item">
					{% Passage %}
						<p>To reach their full potential, children need the five inter-related and indivisible components of nurturing care: good health, adequate nutrition, safety and security, responsive caregiving and opportunities for learning.</p>
						<p>In the first years of life, parents, intimate family members and caregivers are the closest to the young child and thus the best providers of Nurturing Care. This is why secure family environments are important for young children. In order to provide caregivers with time and resources to provide nurturing care, policies, services and community supports need to be in place.</p>
					{% endPassage %}
				</div>
			</div>
		{% endContentWrapper %}
	</header>
	<ul class="u-list-undecorated | u-padding-y-flow u-padding-top-wide">
		<li>
			<article class="
				c-content-width centered wide
				u-border u-border-radius
				u-padding
			">
				<div class="c-bookend horizontal@small | c-gutter">
					<header class="c-bookend-item left | c-gutter-item | u-type-align-center" style="max-width: 16rem;">
							<img
								class="u-display-inline-block u-border-round"
								src="https://placehold.it/600x600"
								alt="icon"
							>
						<h3 class="u-padding-top">Good health</h3>
					</header>
					<div class="c-bookend-item right fill | c-gutter-item">
						{% Passage %}
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae at, quis culpa consequuntur qui ea rerum, consectetur eum fuga deleniti earum commodi recusandae iure, veritatis natus. Voluptate, saepe rem animi.</p>
						{% endPassage %}
					</div>
				</div>
			</article>
		</li>
	</ul>
{% endSection %}
