---
layout: default
title: The Pacific Regional Council
---

{% Jumbotron %}
	<h1>{{title}}</h1>
	{% Passage { centered: false } %}
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, labore veniam enim rem ad, est placeat nostrum culpa, aliquam minima vero consectetur quos accusamus nemo, nihil eligendi adipisci magnam voluptates.</p>
	{% endPassage %}
{% endJumbotron %}

<section class="u-border-top">
	{% Gallery {
		tag: 'div',
		gutter: 1,
		className: 'u-color-bg-border'
	} %}
		{% for title in ['About', 'Mission'] %}
			<section class="
				c-gallery-item
				u-padding-x-outside u-padding-y-wide
				u-color-bg-bg
			">
				<h2>{{title}}</h2>
				{% Passage %}
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui provident, quis amet nostrum officia, eaque quisquam rem consectetur cupiditate, harum repudiandae vitae minus eius, suscipit et possimus deleniti facilis aut.</p>
				{% endPassage %}
			</section>
		{% endfor %}
	{% endGallery %}
</section>

{% Section %}
	<div class="c-content-width wide centered">
		<h2 class="u-type-align-center u-padding-bottom-wide">Key Goals</h2>
		<ol class="u-list-undecorated u-margin-y-flow">
			{% for index in [1, 2, 3, 4, 5] %}
				<li class="u-border u-border-radius | u-padding">
					<div class="
						c-bookend horizontal@small {% if loop.index % 2 == 0 %}reverse{% endif %}
						c-gutter
					">
						<div class="c-bookend-item left | c-gutter-item" style="max-width: 20rem;">
							<img src="https://placehold.it/800x600" alt="Image">
						</div>
						<div class="c-bookend-item right fill | c-gutter-item">
							{% Passage %}
								<p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Rerum nemo ipsum nobis, neque tenetur odio accusantium unde dignissimos atque aliquam vero culpa dolorum earum natus incidunt laboriosam officia laborum id.</p>
							{% endPassage %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ol>
	</div>
{% endSection %}
