---
layout: default
---

{% Cover %}
	<h1>{{ dato.contactForm.thankYouTitle }}</h1>

	{# Contact form thank you message #}
	<p>{{ dato.contactForm.thankYouMessage }}</p>
{% endCover %}

{# List of resources here to be added #}
