---
layout: default
---

{% Cover %}
	<h1>{{ contactForm.title }}</h1>

	{# Contact form - better styling to come #}
	<form name="contact" method="POST" data-netlify="true" action="/contact-success">
		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-name"
		>
			{{ contactForm.nameField }}
		</label>
		<input
			class="u-margin-bottom"
			id="contact-name"
			name="contact-name"
			type="text"
		>

		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-email"
		>
			{{ contactForm.emailField }}
		</label>
		<input
			class="u-margin-bottom"
			id="contact-email"
			name="contact-email"
			type="email"
		>

		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-subject"
		>
			{{ contactForm.subjectField }}
		</label>
		<input
			class="u-margin-bottom"
			id="contact-subject"
			name="contact-subject"
			type="text"
		>

		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-message"
		>
			{{ contactForm.messageField }}
		</label>
		<textarea
			class="u-margin-bottom"
			id="contact-message"
			name="contact-message"
		></textarea>
		<button class="b-button">{{ contactForm.submitButton }}</button>
	</form>

{% endCover %}

{# List of resources here to be added #}
