---
layout: default
---

{% Cover %}
	<h1>{{ contactForm.thankYouTitle }}</h1>

	{# Contact form thank you message #}
	<p>{{ contactForm.thankYouMessage }}</p>

{% endCover %}

{# List of resources here to be added #}
