---
layout: default
---

<div class="u-padding-x-outside u-padding-y-xxwide">
	<h1 class="u-type-align-center u-padding-bottom-narrow">{{ dato.contactForm.title }}</h1>

	{# Contact form - better styling to come #}
	<form name="contact" method="POST" data-netlify="true" action="/contact-success" class="c-content-width centered">
		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-name"
		>
			{{ dato.contactForm.nameField }}
		</label>
		<input
			class="u-margin-bottom"
			id="contact-name"
			name="contact-name"
			type="text"
		>

		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-email"
		>
			{{ dato.contactForm.emailField }}
		</label>
		<input
			class="u-margin-bottom"
			id="contact-email"
			name="contact-email"
			type="email"
		>

		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-subject"
		>
			{{ dato.contactForm.subjectField }}
		</label>
		<input
			class="u-margin-bottom"
			id="contact-subject"
			name="contact-subject"
			type="text"
		>

		<label
			class="u-padding-bottom-narrow u-display-block u-scale-delta u-type-heading"
			for="contact-message"
		>
			{{ dato.contactForm.messageField }}
		</label>
		<textarea
			class="u-margin-bottom"
			id="contact-message"
			name="contact-message"
		></textarea>
		<button class="b-button">{{ dato.contactForm.submitButton }}</button>
	</form>
</div>
