---
layout: default
pagination:
  data: dato.countries
  size: 1
  resolve: values
permalink: 'countries/{{ pagination.items[0].slug }}/'
---

{% set country = pagination.items[0] %}

{% SectionWrapper {
	paddingClasses: 'u-padding-top-xlarge u-padding-bottom-xwide u-padding-x-outside',
	className: 'u-type-align-center'
} %}
	{% set flagHeight = '3rem' %}
	<p
		class="
			u-type-heading u-type-case-upper u-type-scale-delta
			u-color-secondary
			u-padding-bottom-narrow u-margin-x-flow-xxnarrow
		"
		style="line-height: {{ flagHeight }};"
	>
		<span class="u-display-inline-block | u-position-vertical-align-middle">
			Country
		</span>
		<img
			class="u-display-inline-block | u-position-vertical-align-middle | u-border-round"
			style="height: {{ flagHeight }}; margin-top: -0.2rem;"
			src="{{ country.flag.url }}"
			alt="{{ country.name }} flag"
		>
		<span class="u-display-inline-block | u-position-vertical-align-center">
			Profile
		</span>
	</p>
	<h1>{{ country.name }}</h1>
	{% if country.introduction %}
		{% Passage { width: 'narrow', className: 'u-type-align-left u-type-scale-gamma | u-padding-top' } %}
			{% Markdown %}{{ country.introduction }}{% endMarkdown %}
		{% endPassage %}
	{% endif %}
{% endSectionWrapper %}

{% CountryProfileData country, protoAlbatross.countries %}
