---
layout: default
maxPosts: 50
---

{% CoverInterior graphics.seascape %}
	<h1>{{ dato.eventsIndex.title }}</h1>
	{% if dato.eventsIndex.introduction %}
		{% Passage { width: 'narrow', className: 'u-type-scale-gamma' } %}
			{% Markdown %}{{ dato.eventsIndex.introduction }}{% endMarkdown %}
		{% endPassage %}
	{% endif %}
{% endCoverInterior %}

{# Meetings #}
{% SectionWrapper %}
	{% ContentWrapper { width: 'wide' } %}
		{% set ecdEventsLength = dato.events | toArrayReverse | eventFilterSection("ECD Events") | length %}
		{% if ecdEventsLength > 0 %}
			<h2 class="u-type-align-center | u-padding-top-xwide u-padding-bottom">{{ dato.eventsIndex.ecdEventsTitle }}</h2>
			<ul class="u-list-undecorated u-margin-y-flow">
				{% for event in dato.events | toArrayReverse | limit(maxPosts) | eventFilterSection("ECD Events") %}
					{% EventItem event %}
				{% endfor %}
			</ul>
		{% endif %}
		{% set prc4ecdMeetings = dato.events | toArrayReverse | eventFilterSection("PRC4ECD Meetings") | length %}
		{% if prc4ecdMeetings > 0 %}
			<h2 class="u-type-align-center | u-padding-top-xwide u-padding-bottom">{{ dato.eventsIndex.prc4ecdMeetingsTitle }}</h2>
			<ul class="u-list-undecorated u-margin-y-flow">
				{% for event in dato.events | toArrayReverse | limit(maxPosts) | eventFilterSection("PRC4ECD Meetings") %}
					{% EventItem event %}
				{% endfor %}
			</ul>
		{% endif %}
		{% set regionalEcdForum = dato.events | toArrayReverse | eventFilterSection("Regional ECD Forum") | length %}
		{% if regionalEcdForum > 0 %}
			<h2 class="u-type-align-center | u-padding-top-xwide u-padding-bottom">{{ dato.eventsIndex.regionalEcdForumTitle }}</h2>
			<ul class="u-list-undecorated u-margin-y-flow">
				{% for event in dato.events | toArrayReverse | limit(maxPosts) | eventFilterSection("Regional ECD Forum") %}
					{% EventItem event %}
				{% endfor %}
			</ul>
		{% endif %}
		{% set totalEvents = dato.events | length %}
		{% if totalEvents > maxPosts %}
			<div class="u-padding-top-wide | u-type-align-center">
				<a
					class="b-button has-icon right"
					href="/events/page/1"
				>
					More meetings
					<svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-button-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					  <polyline points="9 6 15 12 9 18" />
					</svg>
				</a>
			</div>
		{% endif %}
	{% endContentWrapper %}
{% endSectionWrapper %}

{# Updates #}
{% if dato.eventsIndex.showUpdateSection %}
	{% set totalUpdates = dato.updates | length %}
	{% if totalUpdates > 0 %}
		{% SectionWrapper %}
			{% ContentWrapper %}
				<h2 class="u-type-align-center u-padding-bottom">{{ dato.eventsIndex.updateSectionTitle }}</h2>
				<ul class="u-list-undecorated u-margin-y-flow">
					{% for update in dato.updates | toArrayReverse | limit(5) %}
						<li class="u-border-radius | u-shadow | u-padding">
							<h3 class="u-padding-bottom-xxnarrow">
								<a href="/updates/{{ update.date | datePath }}">
									{{ update.title }}
								</a>
							</h3>
							<time
								class="u-type-heading u-type-scale-delta | u-color-fg-secondary | u-padding-bottom-narrow"
								datetime="{{ update.date }}"
							>
								{{ update.date | dateFull }}
							</time>
							{% Passage %}
								{% Markdown %}{{ update.summary }}{% endMarkdown %}
							{% endPassage %}
							<a
								class="u-type-font-display u-type-scale-epsilon u-type-case-upper u-type-weight-bold | u-padding-top-narrow | u-display-inline-block"
								href="/updates/{{ update.date | datePath }}/"
							>
								Read more
								<svg xmlns="http://www.w3.org/2000/svg" class="b-icon small" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								  <polyline points="9 6 15 12 9 18" />
								</svg>
							</a>
						</li>
					{% endfor %}
				</ul>
				{% if totalUpdates > maxPosts %}
					<div class="u-padding-top-wide | u-type-align-center">
						<a
							class="b-button has-icon right"
							href="/events/page/1"
						>
							More updates
							<svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-button-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <polyline points="9 6 15 12 9 18" />
							</svg>
						</a>
					</div>
				{% endif %}
			{% endContentWrapper %}
		{% endSectionWrapper %}
	{% endif %}
{% endif %}
