---
layout: default
pagination:
  data: dato.events
  size: 10
  resolve: values
  reverse: true
permalink: 'events/page/{{ pagination.pageNumber + 1 }}/'
---

<header class="u-padding-top-xxwide u-padding-bottom-xwide u-padding-x-outside | u-type-align-center">
	<h1>Meetings</h1>
</header>

{% ContentWrapper { width: 'wide', className: 'u-padding-bottom-xwide' } %}
	<ul class="u-list-undecorated u-margin-y-flow">
		{% set totalEvents = dato.events | length %}
		{% for event in pagination.items %}
			<li class="u-shadow | u-border-radius | u-display-block | u-padding">
				<h3 class="u-padding-bottom-narrow">
					<a href="/events/{{ event.date | datePath }}/">
						<time datetime="{{ event.date }}">{{ event.date | dateFull }}</time>
					</a>
				</h3>
				<div class="c-bookend horizontal@small reverse | c-gutter narrow">
					{% if event.photo.url %}
						<div
							class="c-bookend-item left | c-gutter-item"
							style="max-width: 16rem;"
						>
							<img src="{{ event.photo.url }}" alt="{{ event.photo.alt }}">
						</div>
					{% endif %}
					<div class="c-bookend-item right fill | c-gutter-item">
						{% Passage { centered: false } %}
							{% Markdown %}{{ event.summary }}{% endMarkdown %}
						{% endPassage %}
					</div>
				</div>
				<div class="u-padding-top-narrow">
					<a
						class="b-button has-icon right"
						href="/events/{{ event.date | datePath }}/"
					>
						Meeting details
						<svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-button-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						  <polyline points="9 6 15 12 9 18" />
						</svg>
					</a>
				</div>
			</li>
		{% endfor %}
	</ul>

	{# Pagination nav #}
	{% if pagination.pages.length > 1 %}
		<div class="u-padding-top-xwide | u-type-align-center">
			<div class="c-bookend horizontal | c-gutter">
				{% if pagination.pageNumber > 0 %}
					<div class="c-bookend-item | c-gutter-item">
						<a
							class="b-button has-icon left"
							href="{{ pagination.href.next }}"
						>
							<svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-button-icon" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <polyline points="15 6 9 12 15 18" />
							</svg>
							Next meetings
						</a>
					</div>
				{% endif %}
				{% if pagination.pageNumber < pagination.pages.length - 1 %}
					<div class="c-bookend-item | c-gutter-item">
						<a
							class="b-button has-icon right"
							href="{{ pagination.href.previous }}"
						>
							Previous meetings
							<svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-button-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <polyline points="9 6 15 12 9 18" />
							</svg>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endContentWrapper %}
