---
layout: default.njk
pagination:
  data: dato.events
  size: 1
  resolve: values
permalink: '/events/{{ pagination.items[0].date | datePath }}/'
---

{% set page = pagination.items[0] %}

<header class="u-padding-top-xxwide u-padding-bottom-xwide u-padding-x-outside u-padding-y-flow-xxnarrow | u-hide-overflow">
	{% set coverBreakpoint = 'medium' %}
	{% ContentWrapper { width: 'xwide', className: 'u-padding-top-xxwide' } %}
		<div class="
			c-bookend horizontal@{{coverBreakpoint}} reverse
			c-gutter wide
			u-type-align-center
			u-hide-overflow
		">
			{% if page.photo %}
				<div class="c-bookend-item right c-gutter-item u-type-align-center">
					<div class="u-display-inline-block" style="max-width: 20rem;">
						{% Figure page.photo.url, {
							alt: page.photo.alt,
							caption: page.photo.caption,
							credit: page.photo.credit
						} %}
					</div>
				</div>
			{% endif %}
			<div class="c-bookend-item left fill | c-gutter-item">
				<h1 class="u-padding-top-wide">{{ page.title }}</h1>
				<time
					class="u-display-block | u-type-heading u-padding-bottom-narrow"
					datetime="{{ page.date }}"
				>
					{{ page.date | dateFull }}
				</time>
				<h2 class="u-type-scale-delta u-type-case-upper u-color-fg-accent">Meeting</h2>
			</div>
		</div>
	{% endContentWrapper %}
</header>

{% SectionWrapper %}
	{% Passage %}
		{% Markdown %}{{ page.description }}{% endMarkdown %}
	{% endPassage %}
{% endSectionWrapper %}

{% SectionWrapper %}
	<h2 class="u-type-align-center u-padding-bottom">
		Outcomes
	</h2>
	{% ContentWrapper { width: 'wide' } %}
		{% Gallery { tag: 'ol', className: 'b-pretty-numbers' } %}
			{% for outcome in page.outcomes %}
				<li class="b-pretty-numbers-item">
					<p>{{ outcome.description }}</p>
				</li>
			{% endfor %}
		{% endGallery %}
	{% endContentWrapper %}
{% endSectionWrapper %}


{% SectionWrapper { className: 'u-margin-y-flow-wide' } %}
	<h2 class="u-type-align-center u-padding-bottom">
  	Documents
  </h2>
	{% ContentWrapper { width: 'xwide', className: 'u-border-top u-padding-y-wide' } %}
		{% Gallery { width: 'xwide', flex: true } %}
			{% for resource in page.documents %}
				{% ResourceCard resource %}
			{% endfor %}
		{% endGallery %}
	{% endContentWrapper %}
{% endSectionWrapper %}
