---
layout: default.njk
title: Home
---

{% Cover {
	contentWidth: false,
	className: 'u-type-align-center'
} %}
	<div
		class="u-display-inline-block"
		style="max-width: {{logo_width}};"
	>
		{# Figure out how to mark this up - hide image? #}
		<h1><img src="/images/pacific-logo-vertical.png" alt="Pacific Child"></h1>
	</div>
		{% Passage %}
			{{home.cover.introduction}}
		{% endPassage %}

	<a
		class="b-button"
		href="#"
	>
		{{home.cover.callToAction.label}} &rsaquo;
	</a>
{% endCover %}
<main>
	{% PageContent home.sections %}
</main>
