---
layout: default.njk
title: Home
---

{% Cover {
	contentWidth: false,
	className: 'u-padding-x-outside u-padding-top'
} %}

	{# Content #}
	<div class="u-type-align-center | u-margin-y-flow-wide | u-position-z-middle">

		{# Logo #}
		<h1 class="b-logo full vertical u-type-scale-zero">
			<img
				class="u-display-inline-block"
				src="{{graphics.logo.vertical}}"
				alt="Pacific Child logo"
			>
			<span class="u-hide-visually">{{dato.site.organization}}</span>
		</h1>

		{# Intro #}
		{% ContentWrapper %}
			<p class="u-type-scale-gamma">
				{% Markdown true %}{{dato.home.cover.introduction}}{% endMarkdown %}
			</p>
		{% endContentWrapper %}
		<a
			class="b-button large has-icon right"
			href="/{{dato.home.cover.callToAction.link.slug}}/"
		>
			{{dato.home.cover.callToAction.label}}
			<svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-button-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			  <polyline points="9 6 15 12 9 18" />
			</svg>
		</a>
			
		{# Call to action #}
		<div class="
		  u-position-absolute u-position-bottom-full
		  u-type-scale-gamma
		  u-padding-y-narrow
		  u-color-fg-secondary
		">
		  <a 
		  	class="u-no-border-bottom | u-display-block | u-anim-bounce | u-color-fg-primary"
		  	href="#body" 
	  	>
		  	<svg xmlns="http://www.w3.org/2000/svg" class="b-icon" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			    
			    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			    <polyline points="6 9 12 15 18 9" />
			  </svg>
			</a>
		</div>
	</div>

	{# Seascape graphics #}
	<div class="b-seascape | u-position-z-low">
		<div class="b-seascape-bg | u-color-bg-sky">
			{% for element in graphics.seascape.elements %}
				<picture class="b-seascape-element">
					{%  for size in graphics.seascape.sizes %}
						<source 
							srcset="/images/seascape/{{size.name}}/{{element.name}}.svg {{size.width}}w" 
							media="(min-width: {{size.breakpoint}})"
						>
					{% endfor %}
					<img src="/images/seascape/small/{{element.name}}.svg" alt="element.alt">
				</picture>
			{% endfor %}
		</div>
		<div class="b-seascape-water | u-color-bg-water">
			<picture class="b-seascape-element top">
				{%  for size in graphics.seascape.sizes %}
					<source 
						srcset="/images/seascape/{{size.name}}/reflections.svg {{size.width}}w" 
						media="(min-width: {{size.breakpoint}})"
					>
				{% endfor %}
				<img src="/images/seascape/small/reflections.svg" alt="Seascape reflections">
			</picture>
			<img 
				class="b-seascape-ripple left"
				src="/images/seascape/ripples/left.svg" 
				alt="Seascape ripples" 
			>
			<img 
				class="b-seascape-ripple right"
				src="/images/seascape/ripples/right.svg" 
				alt="Seascape ripples" 
			>
		</div>
	</div>
{% endCover %}

<div id="body">
	{% PageContent dato.home.sections, dato.resourcesIndex %}
</div>
