---
layout: default.njk
title: Home
---

<header class="padding-x-outside | type-align-center">
	<img src="/images/pacific-logo-vertical.png" />
	<h1 class="type-font-display type-weight-light">Pacific Regional Council for<br />Early Childood Development Meeting</h1>
	<time>November 26 &amp; 27, 2020</time>
</header>

<article>

	{# Intro #}
	<h2>About the meeting</h2>
	<p>The Pacific Regional Council on Early Childhood Development (PRC4ECD), established at a ministerial roundtable in the 2019 Pacific ECD Forum held in Nadi, Fiji, is an inter-governmental and multisectoral body that provides leadership and strategic direction on policies, programmes, and investments that support the holistic development of our young children in the Pacific.</p>
	<p>The council brings together the ministries of education, finance, health, planning, internal affairs, women & children, and social welfare from fifteen Pacific Island Countries and territories: Cook Islands, Federated States of Micronesia, Fiji, Kiribati, Nauru, Niue, Palau, Papua New Guinea, Marshall Islands, Samoa, Solomon Islands, Tonga, Tokelau, Tuvalu, and Vanuatu.</p>
	<p>Their first formal meeting is to be held virtually on 26 & 27 November, 2020. In this meeting, the objectives are to foster even stronger political will on a whole-of-government approach to early investments, specifically in the context of COVID-19 and as the Pacific region builds back better.</p>

	{# Outcomes #}
	<section>
		<h3>Concrete outcomes of the meeting include:</h3>
		<ol>
			<li>
				<p>Feedback and endorsement of an ECD paper for distribution to Forum of Economic Ministers Meeting</p>
			</li>
			<li>
				<p>Endorsement of the workplan for the Council and election the next Chairs</p>
			</li>
			<li>
				<p>Lessons from countries on advances and challenges in ECD</p>
			</li>
		</ol>
	</section>

	<p>The meeting is convened by the Chairs of the Council – Hon. Ifereimi Waqainebete, Minister of Health, Fiji and Hon. Sili Epa Tuioti, Minister of Finance, Samoa, with the support of UNICEF Pacific, which is the Council’s Secretariat. The council meeting is expected to recur every two years.</p>

	{# Downloads #}
	<aside>
		<ul>
			<li>
				<p>Access the meeting agenda</p>
				<button>Download</button>
			</li>
			<li>
				<p>Access the Outcomes and Meeting Papers of the 2020 Pacific Regional Council for ECD Meeting.</p>
				<button>Download</button>
			</li>
		</ul>
	</aside>
</article>

{# Logo #}
<article>
	<h2>Our logo</h2>
	<img src="/images/pacific-logo-vertical.png" />
	<div>
		<p>The Pacific Regional Council on Early Childhood Development (PRC4ECD) has chosen baby sea turtle as its symbol, as it represents both childhood and the Pacific community as a whole. Turtles are considered sacred in many Pacific cultures, symbolizing longevity, wellness, and protection &mdash; all of which are intrinsic to the concept of early childhood development. A baby turtle, specifically, represents strength, resilience, and even hope: this tiny, vulnerable creature &mdash; swimming in a huge expanse of ocean &mdash; will grow into a majestic giant that may live for hundreds of years and swim thousands of miles.</p>
		<p>Turtles range widely across the Pacific. They are not associated with any single nation, and thus act as an inclusive symbol for the Blue Continent’s whole community. They are, finally, a symbol of the community’s complexity and potential: they live in the water, in the vast depths, always moving, swimming from one place to another like connecting threads in the vast and diverse Pacific.</p>
	</div>
</article>
