---
layout: default
---

<script>
	var url = `{{ dato.resourcesIndex.endpoint }}`;
	function resourcesSearch() {
		return {
			searchTerm: new URLSearchParams(location.search).get('searchTerm') || '*',
			isLoading: false,
			results: null,
			totalResults: 0,
			page: 1,
			pageSize: 10,
			fetchResources() {
				this.isLoading = true;
				fetch(url, {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({ query: `
							query {
								searchResults(query: "${this.searchTerm}", page: ${this.page}, pageSize: ${this.pageSize}) {
									results {
										... on UploadResult {
												id
												title
												types
												topics
												author
												organization
												source
												description
												tags
											__typename
										}
									}
									total
								}
							}`
						}),
					})
					.then(res => res.json())
					.then(res => {
						this.isLoading = false;
						this.results = res.data.searchResults.results;
						this.totalResults = res.data.searchResults.total;
					})
					.catch(error => console.log(error))
			}
		}
	}
	function formatDate(datetime) {
		var month=["January","February","March","April","May","June","July","August","September","October","November","December"]
		var d = new Date(datetime);
		return `${month[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}`
	}
	function splitToList(string, sep) {
		// list = string.split(sep);
		console.log(string)
		return list;
	}

	// source_url
	// release_date
	// attachment_link
	// attachment_type
</script>

{% CoverInterior graphics.seascape %}
	<h1>{{ dato.resourcesIndex.title }}</h1>
{% endCoverInterior %}

{# List of resources here to be added #}
{% SectionWrapper %}
	{% ContentWrapper { width: 'wide' } %}
		<div
			x-data="resourcesSearch()"
			x-init="() => {
				$watch('searchTerm', (value) => {
					const url = new URL(window.location.href);
					url.searchParams.set('searchTerm', value);
					history.pushState(null, document.title, url.toString());
				})
				fetchResources()
			}"
		>
			<form>
				<label
					class="u-padding-bottom-narrow u-display-block u-type-scale-gamma u-type-heading"
					for="searchTerm"
				>
					{{ dato.resourcesIndex.label }}
				</label>
				<div class="c-bookend c-gutter narrow horizontal@xsmall">
					<div class="c-bookend-item c-gutter-item left fill">
						<input
							id="searchTerm"
							name="searchTerm"
							x-model="searchTerm"
							type="text"
							placeholder="{{ dato.resourcesIndex.placeholder }}"
							@keydown.enter="fetchResources()"
						>
					</div>
					<div class="c-bookend-item c-gutter-item right">
						<button
							class="b-button has-icon left"
							type="submit"
							@click="fetchResources()"
							:disabled="isLoading"
						>
							{# Search icon #}
							<svg class="b-icon b-button-icon" xmlns="http://www.w3.org/2000/svg" x-show="!isLoading" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <circle cx="10" cy="10" r="7" />
							  <line x1="21" y1="21" x2="15" y2="15" />
							</svg>

							{# Loading icon #}
							<svg class="b-icon b-button-icon" x-show="isLoading" x-cloak version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path fill="currentColor" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
								<animateTransform
									attributeType="xml"
									attributeName="transform"
									type="rotate"
									from="0 25 25"
									to="360 25 25"
									dur="0.6s"
									repeatCount="indefinite"
								>
								</path>
							</svg>
							{{ dato.resourcesIndex.button }}
						</button>
					</div>
				</div>
			</form>

			<!-- empty state / no search done -->
			<p
				class="u-padding-top-narrow | u-type-style-italic | u-color-fg-secondary"
				x-show="!results"
			>
				{{ dato.resourcesIndex.instructions }}
			</p>

			<!-- search done but no results -->
			<p class="u-type-scale-beta | u-padding-top-wide" x-show="results && totalResults < 1">
				{{ dato.resourcesIndex.noResultsMessage }}
			</p>

			<!-- results -->
			<div class="u-padding-top u-padding-y-flow">
				<h3
					x-show="results && totalResults > 0"
					class="u-type-scale-beta"
				>
					<strong class="u-color-fg-highlight" x-text="totalResults"></strong> <span class="u-type-weight-light u-type-font-display">{{ dato.resourcesIndex.datasetSuffix }}</span>
				</h3>

				<template x-if="results">
					<ul class="u-list-undecorated | u-margin-y-flow-narrow">
						<template
							x-for="result in results"
							:key="result.id"
						>
							<li class="u-shadow | u-border-radius | u-padding">
								<article class="u-position-relative">
									<h4
										class="u-type-scale-gamma"
										x-text="result.title"
									></h4>
									
									{# download link #}
									<a
										class="u-position-absolute u-position-top-right | u-type-link-undecorated u-type-scale-delta | u-color-fg-accent"
										href="#"
									>
										<svg xmlns="http://www.w3.org/2000/svg" class="b-icon" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<line x1="4" y1="20" x2="20" y2="20" />
											<line x1="12" y1="14" x2="12" y2="4" />
											<line x1="12" y1="14" x2="16" y2="10" />
											<line x1="12" y1="14" x2="8" y2="10" />
										</svg>
									</a>

									<div class="u-padding-top-narrow">
										<div class="c-bookend horizontal@xsmall align-top | c-gutter">
											<div class="c-bookend-item left fill | c-gutter-item | u-padding-right">
												{% ContentWrapper %}
													<p x-text="$truncate(result.description, { words: 19, ellipsis: '...' })"></p>
												{% endContentWrapper %}
											</div>

											{# Result metadata #}
											<div class="
												c-bookend-item right
												c-gutter-item
												u-type-font-display u-type-weight-normal u-type-scale-zeta u-type-align-center
												u-color-fg-secondary
												u-padding-y-flow-narrow
											">
												<img
													x-bind:src="result.imageUrl"
													x-bind:alt="result.title"
													x-show="result.imageUrl"
													src=""
													alt=""
													class="u-display-block"
													style="max-width: 12rem;"
												>
												<dl class="u-list-undecorated | u-type-align-left">
													<div class="u-margin-x-flow-xxnarrow">
														<dt class="u-display-inline-block | u-type-font-display u-type-weight-light">Author:</dt>
														<dd 
															class="u-display-inline-block"
															x-text="result.author"
														></dd>
													</div>
													<div class="u-margin-x-flow-xxnarrow">
														<dt class="u-display-inline-block | u-type-font-display u-type-weight-light">{{ dato.resourcesIndex.updated }}:</dt>
														<dd class="u-display-inline-block">
															<time x-bind:datetime="result.updatedAt">
																<span x-text="formatDate(result.updatedAt)"></span>
															</time>
														</dd>
													</div>
													{# No data for file type yet? #}
													{# <div class="u-margin-x-flow-xxnarrow">
														<dt class="u-display-inline-block | u-type-font-display u-type-weight-light">File type:</dt>
														<dd class="u-display-inline-block">PDF</dd>
													</div> #}
												</dl>
											</div>
										</div>
									</div>

									{# Topics/tags #}
									{# <span x-text="result.tags">Test</span> #}
									<div class="u-padding-top-narrow">
										<ul class="c-gutter narrow | u-list-undecorated | u-color-fg-secondary">
											<template
												x-for="tag in splitToList(result.tags, ',')"
												:key="tag"
											>
												<li class="c-gutter-item | u-display-inline-block">
													<a
														class="u-type-scale-zeta u-type-font-display u-type-weight-bold u-type-link-undecorated | u-display-inline-block"
														href="#"
													>
														<span x-text="tag"></span>
													</a>
												</li>
											</template>
											<!-- will only need to show the following item if there's four or more tags -->
											<li 
												class="u-display-inline-block u-type-scale-zero"
												x-show="{result.tags.length > 4}"
											>
												<a 
													href="#" 
													class="u-type-scale-delta u-type-font-display u-type-weight-bold u-type-link-undecorated u-display-inline-block"
											>
												+1 {{ dato.resourcesIndex.moreTags }}
											</a>
											</li>
										</ul>
									</div>
								</article>
							</li>
						</template>
					</ul>
				</template>
			</div>
		</div>
	{% endContentWrapper %}
{% endSectionWrapper %}
